[Unit]
Description=Gunicorn stock service
After=network.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/stockapp
ExecStart=/usr/bin/gunicorn3 --log-level=DEBUG --workers 17 --timeout 200 -b unix:stockapp1.sock -b unix:stockapp2.sock -b unix:stockapp3.sock -b unix:stockapp4.sock -m 007 app:app
